@model PageViewModel

<div class="text-xs-center">
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item @(Model.CurrentPage == Model.PreviousPage ? "disabled" : "active")">
                <a asp-area="@Model.Area" asp-controller="@Model.Controller" asp-action="@Model.Action"
                   asp-route-currentPage="@Model.PreviousPage" asp-route-SearchText="@Model.SearchText"
                   asp-route-SearchForBooks="@Model.SearchForBooks"
                   asp-route-SearchForAuthors="@Model.SearchForAuthors"
                   class="page-link" tabindex="-1">Previous</a>
            </li>

            @for (var i = 1; i <= @Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a asp-area="@Model.Area" asp-controller="@Model.Controller" asp-action="@Model.Action"
                       asp-route-currentPage="@i" asp-route-SearchText="@Model.SearchText"
                       asp-route-SearchForBooks="@Model.SearchForBooks"
                       asp-route-SearchForAuthors="@Model.SearchForAuthors"
                       class="page-link">@i</a>
                </li>
            }

            <li class="page-item @(Model.CurrentPage == Model.NextPage ? "disabled" : "active")">
                <a asp-area="@Model.Area" asp-controller="@Model.Controller" asp-action="@Model.Action"
                   asp-route-currentPage="@Model.NextPage" asp-route-SearchText="@Model.SearchText"
                   asp-route-SearchForBooks="@Model.SearchForBooks"
                   asp-route-SearchForAuthors="@Model.SearchForAuthors"
                   class="page-link">Next</a>
            </li>
        </ul>
    </nav>
</div>