@model BooksByAuthorListingViewModel

@{
    ViewData["Title"] = $"Books by {Model.Author}";
    var reminder = 0;
}

<br />

<h2 class="text-center">@ViewData["Title"]</h2>

<br />
<br />

@foreach (var book in Model.Books)
{
    <div class="row text-center">
        @if (reminder++ % 2 == 0)
        {
            <div class="col-md-6">
                Title: <b>@book.Title</b>
                <br />
                Description: <b>@book.Description</b>
                <a asp-area="" asp-controller="Books" asp-action="Details" asp-route-id="@book.Id" class="btn btn-light">Details</a>
            </div>
        }
        else
        {
            <div class="col-md-6" style="margin-left:auto">
                Title: <b>@book.Title</b>
                <br />
                Description: <b>@book.Description</b>
                <a asp-area="" asp-controller="Books" asp-action="Details" asp-route-id="@book.Id" class="btn btn-light">Details</a>
            </div>
        }

        <br />
    </div>
}

<br />

@if (Model.Page.CurrentPage >= Model.Page.TotalPages)
{
    <br />
    <br />
}

@if (Model.Page.TotalPages > 1)
{
    <partial name="_PaginationPartial" for="Page" />
}