@model BorrowedBooksListingViewModel

@{
    ViewData["Title"] = "My Borrowed Books";
    var i = 0;
}

<h1 class="text-center">@ViewData["Title"]</h1>

<br />

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Book Details</th>
            <th scope="col">Return a Book</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model.Books)
        {
            i++;
            <tr>
                <th scope="row">@((Model.Page.CurrentPage - 1) * 10 + i)</th>
                <td>@book.Title</td>
                <td>
                    <a class="btn btn-info" asp-area="" asp-controller="Books" asp-action="Details" asp-route-id="@book.Id">Details</a>
                </td>
                <td>
                    <a class="btn btn-secondary" asp-area="" asp-controller="Books" asp-action="Return" asp-route-id="@book.Id">Return</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<br />

@if (Model.Page.CurrentPage >= Model.Page.TotalPages)
{
    <br />
    <br />
}

@if (Model.Page.TotalPages > 1)
{
    <partial name="_PaginationPartial" for="Page" />
}